/**************** CONTACTO Y REFERENCIAS **************************/
.contenedor
  aside
    display: flex
    align-items: flex-start
    flex-direction: column
    background: $color-principal
    padding: 40px
    width: 30%

  .foto-perfil
    width: 128px

    img
      border-radius: 50%
      width: 100%

  .contacto
    margin-bottom: $margen-abajo-seccion
    p
      margin-bottom: $margen-abajo-texto

  .redes-sociales
    margin-bottom: $margen-abajo-seccion
    p
      margin-bottom: $margen-abajo-texto
  
  .languages
    margin-bottom: $margen-abajo-seccion
    p
      margin-bottom: $margen-abajo-texto

  aside a
    text-decoration: none
    display: inline-block
    color: $color-terciario

    &:hover
      text-decoration: underline

