/**************** CONTACTO Y REFERENCIAS **************************/
.contenedor
  aside
    display: flex
    align-items: flex-start
    flex-direction: column
    background: $color-principal
    padding: 40px
    width: 30%

  .foto-perfil
    width: 128px

    img
      border-radius: 50%
      width: 100%

  .contacto
    margin-bottom: $margen-abajo-seccion
    p
      margin-bottom: $margen-abajo-texto
      color: $color-secundario
    .titulo
      color: $color-secundario

  .redes-sociales
    margin-bottom: $margen-abajo-seccion
    p
      margin-bottom: $margen-abajo-texto
      color: $color-secundario
    .titulo
      color: $color-secundario
  
  .skills
    margin-bottom: $margen-abajo-seccion
    p
      margin-bottom: $margen-abajo-texto
      color: $color-secundario
    .titulo
      color: $color-secundario

  .certificacion
    color: $color-secundario
    .titulo
      color: $color-secundario
    p
      color: $color-secundario
    a
      text-decoration: none
      color: $color-terciario
      font-size: 0.8rem
      &:hover
        text-decoration: underline

  aside a
    text-decoration: none
    display: inline-block
    color: $color-secundario

    &:hover
      text-decoration: underline

